body{
    margin: 0;
    padding:0;
    font-size:32px;
    line-height:1.5;
}

main{
    width:auto;
    height:100px;
    background-color:pink;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}
button{
    border:none;
    padding-bottom: 10px;
    padding-top:10px;
    color:white;
    font-weight:bold;
    width:200px;
    margin-bottom:5px;
    border-radius: 5px;;
}
#incrementBtn{
    background-color:blue;
}